<script type="text/html" data-help-name="2jcie-bu">
    <p>OMRON 2JCIE-BU01センサーとUSBシリアル通信で通信を行いセンサー値およびイベントフラグの取得を行います。</p>

    <h3>入力</h3>
    <dl class="message-properties" style="display: block;">
        <dt class="optional">msgオブジェクト <span class="property-type">オブジェクト</span></dt>
        <dd>ノードの動作のトリガーとしてのみ使用するため、msgオブジェクトの内容は問いません。入力の頻度は1秒以上とします。</dd>
    </dl>

    <h3>出力</h3>
    <ol class="node-ports">
        <li>センサーデータ
            <dl class="message-properties">
                <dt>payload <span class="property-type">オブジェクト</span></dt>
                <dd>センサーデータを含むmsgオブジェクトを出力します。温度、相対湿度、環境光（Ambient light）、気圧、騒音、eTVOC、eCO2、不快指数、ヒートストロークを出力します。</dd>
                <pre>
e.g.)
{
    temperature: 27.43,
    relativeHumidity: 61.18,
    ambientLight: 948,
    barometricPressure: 1005.849,
    soundNoise: 47.09,
    etvoc: 50,
    eco2: 733,
    discomfortIndex: 76.38,
    heatStroke: 24.9
}
</pre>
            </dl>
        </li>
        <li>イベントフラグ
            <dl class="message-properties">
                <dt>payload <span class="property-type">オブジェクト</span></dt>
                <dd>イベントフラグを含むmsgオブジェクトを出力します。温度イベント、相対湿度イベント、環境光（Ambient light）イベント、気圧イベント、騒音イベント、eTVOCイベント、eCO2イベント、不快指数イベント、ヒートストロークイベントを出力します。</dd>
                <pre>
e.g.)
{
    temperatureEvent: 1,
    relativeHumidityEvent: 0,
    ambientLightEvent: 4,
    barometricPressureEvent: 256,
    soundNoiseEvent: 0,
    etvocEvent: 0,
    eco2Event: 0,
    discomfortIndexEvent: 0,
    heatStrokeEvent: 0,
}
</pre>
            </dl>
        </li>
    </ol>

    <h3>プロパティ</h3>
    <dl class="message-properties" style="display: block;">
        <dt class="optional">Port <span class="property-type">文字列</span></dt>
        <dd>USBポートのパスを指定します。</dd>

        <dt class="optional">Event1 Target <span class="property-type">文字列</span></dt>
        <dd>1つ目のイベントを設定するセンサーを選択します。</dd>

        <dt class="optional">Event1 Type <span class="property-type">文字列</span></dt>
        <dd>1つ目のイベントの種類を選択します。</dd>

        <dt class="optional">Event1 Threashold (Upper) <span class="property-type">数値</span></dt>
        <dd>1つ目のイベントの閾値（上限値）を設定します。範囲はEvent TargetとEvent Typeに依存します(OMRON 環境センサ(USB型) 形2JCIE-BU01ユーザーズマニュアル 5章を参照のこと)。
            Event Typeが上限値または上下限値を設定する場合のみ有効です。</dd>

        <dt class="optional">Event1 Threashold (Lower) <span class="property-type">数値</span></dt>
        <dd>1つ目のイベントの閾値（下限値）を設定します。範囲はEvent TargetとEvent Typeに依存します(OMRON 環境センサ(USB型) 形2JCIE-BU01ユーザーズマニュアル 5章を参照のこと)。
            Event Typeが下限値または上下限値を設定する場合のみ有効です。</dd>

        <dt class="optional">Event1 Count <span class="property-type">数値</span></dt>
        <dd>1つ目のイベントのcountの値を設定します。範囲はEvent TargetとEvent Typeに依存します(OMRON 環境センサ(USB型) 形2JCIE-BU01ユーザーズマニュアル 5章を参照のこと)。
            Event Typeが個数を設定する場合のみ有効です。</dd>

        <dt class="optional">Event2 Target <span class="property-type">文字列</span></dt>
        <dd>2つ目のイベントを設定するセンサーを選択します。</dd>

        <dt class="optional">Event2 Type <span class="property-type">文字列</span></dt>
        <dd>2つ目のイベントの種類を選択します。</dd>

        <dt class="optional">Event2 Threashold (Upper) <span class="property-type">数値</span></dt>
        <dd>2つ目のイベントの閾値（上限値）を設定します。範囲はEvent TargetとEvent Typeに依存します(OMRON 環境センサ(USB型) 形2JCIE-BU01ユーザーズマニュアル 5章を参照のこと)。
            Event Typeが上限値または上下限値を設定する場合のみ有効です。</dd>

        <dt class="optional">Event2 Threashold (Lower) <span class="property-type">数値</span></dt>
        <dd>2つ目のイベントの閾値（下限値）を設定します。範囲はEvent TargetとEvent Typeに依存します(OMRON 環境センサ(USB型) 形2JCIE-BU01ユーザーズマニュアル 5章を参照のこと)。
            Event Typeが下限値または上下限値を設定する場合のみ有効です。</dd>

        <dt class="optional">Event2 Count <span class="property-type">数値</span></dt>
        <dd>2つ目のイベントのcountの値を設定します。範囲はEvent TargetとEvent Typeに依存します(OMRON 環境センサ(USB型) 形2JCIE-BU01ユーザーズマニュアル 5章を参照のこと)。
            Event Typeが個数を設定する場合のみ有効です。</dd>        

        <dt class="optional">Event3 Target <span class="property-type">文字列</span></dt>
        <dd>3つ目のイベントを設定するセンサーを選択します。</dd>

        <dt class="optional">Event3 Type <span class="property-type">文字列</span></dt>
        <dd>3つ目のイベントの種類を選択します。</dd>

        <dt class="optional">Event3 Threashold (Upper) <span class="property-type">数値</span></dt>
        <dd>3つ目のイベントの閾値（上限値）を設定します。範囲はEvent TargetとEvent Typeに依存します(OMRON 環境センサ(USB型) 形2JCIE-BU01ユーザーズマニュアル 5章を参照のこと)。
            Event Typeが上限値または上下限値を設定する場合のみ有効です。</dd>

        <dt class="optional">Event3 Threashold (Lower) <span class="property-type">数値</span></dt>
        <dd>3つ目のイベントの閾値（下限値）を設定します。範囲はEvent TargetとEvent Typeに依存します(OMRON 環境センサ(USB型) 形2JCIE-BU01ユーザーズマニュアル 5章を参照のこと)。
            Event Typeが下限値または上下限値を設定する場合のみ有効です。</dd>

        <dt class="optional">Event3 Count <span class="property-type">数値</span></dt>
        <dd>3つ目のイベントのcountの値を設定します。範囲はEvent TargetとEvent Typeに依存します(OMRON 環境センサ(USB型) 形2JCIE-BU01ユーザーズマニュアル 5章を参照のこと)。
            Event Typeが個数を設定する場合のみ有効です。</dd>

        <dt class="optional">LED(Event)<span class="property-type">文字列</span></dt>
        <dd>どのイベントがオンになったときにLEDを点灯させるかを選択します。</dd>

        <dt class="optional">LED(Event) RED<span class="property-type">数値</span></dt>
        <dd>イベントがオンになったときに点灯するLEDの赤色の強度を設定します(0~255)</dd>

        <dt class="optional">LED(Event) GREEN<span class="property-type">数値</span></dt>
        <dd>イベントがオンになったときに点灯するLEDの緑色の強度を設定します(0~255)</dd>

        <dt class="optional">LED(Event) BLUE<span class="property-type">数値</span></dt>
        <dd>イベントがオンになったときに点灯するLEDの青色の強度を設定します(0~255)</dd>

        <dt class="optional">LED(Normal)<span class="property-type">文字列</span></dt>
        <dd>通常時のLEDの点灯方法を選択します。</dd>

        <dt class="optional">LED(Normal) RED<span class="property-type">数値</span></dt>
        <dd>通常時に点灯させる場合のLEDの赤色の強度を設定します(0~255)</dd>

        <dt class="optional">LED(Normal) GREEN<span class="property-type">数値</span></dt>
        <dd>通常時に点灯させる場合のLEDの緑色の強度を設定します(0~255)</dd>

        <dt class="optional">LED(Normal) BLUE<span class="property-type">数値</span></dt>
        <dd>通常時に点灯させる場合のLEDの青色の強度を設定します(0~255)</dd>
    </dl>

    <h3>詳細</h3>
    <p>センサーの仕様については、<a href ="https://www.fa.omron.co.jp/products/family/3724/download/manual.html">OMRON 環境センサ(USB型) 形2JCIE-BU01ユーザーズマニュアル</a>を参照してください。</p>

    <h3>Known Issues</h3>
    <ol>
        <li>Event TargetにAmbient lightを指定し、Event TypeにPeek to Peek Threshold(Lower)を指定した場合、イベントの設定が失敗します</li>
        <li>Event TargetにSound Noiseを指定し、Event TypeにChange Threshold(decline)を指定した場合、イベントの設定が失敗します</li>
    </ol>

</script>