<script type="text/javascript">
    RED.nodes.registerType('2jcie-bu',{
        category: 'sensor',
        color: '#D8BFD8',
        defaults: {
            name: {value:""},
            port: {value:""},
            event_target: {value:0},
            event_type: {value:"0x0001"},
            event_upper: {value:0},
            event_lower: {value:0},
            event_count: {value:0},
            event2_target: {value:0},
            event2_type: {value:"0x0001"},
            event2_upper: {value:0},
            event2_lower: {value:0},
            event2_count: {value:0},
            event3_target: {value:0},
            event3_type: {value:"0x0001"},
            event3_upper: {value:0},
            event3_lower: {value:0},
            event3_count: {value:0},
            led_event_rule: {value:"0x0001"},
            led_event_red: {value:0},
            led_event_green: {value:0},
            led_event_blue: {value:0},
            led_normal_rule: {value:0},
            led_normal_red: {value:0},
            led_normal_green: {value:0},
            led_normal_blue: {value:0},
        },
        inputs:1,
        outputs:2,
        inputLabels:'trigger',
        outputLabels:['sensor data', 'event flag'],
        icon: "serial.png",
        label: function() {
            return this.name||"2jcie-bu";
        }
    });
</script>

<script type="text/html" data-template-name="2jcie-bu">

    <div class="form-row">
        <label for="node-input-port">Port</label>
        <input type="text" id="node-input-port" placeholder="Port">
    </div>

    <div class="form-row">
        <label for="node-input-event_target">Event1 Target</label>
        <select id="node-input-event_target">
            <option value=0>Temperature</option>
            <option value=1>Relative humidity</option>
            <option value=2>Ambient light</option>
            <option value=3>Barometric pressure</option>
            <option value=4>Sound noise</option>
            <option value=5>eTVOC</option>
            <option value=6>eCO2</option>
            <option value=7>Discomfort index</option>
            <option value=8>Heat stroke</option>
        </select>
    </div>
    <div class="form-row">
        <label for="node-input-event_type">Event1 Type</label>
        <select id="node-input-event_type">
            <option value=0x0001>Simple Threashold(upper limit)</option>
            <option value=0x0004>Simple Threashold(lower limit)</option>
            <option value=0x0005>Simple Threashold(both)</option>
            <option value=0x0010>Change Threashold(rise)</option>
            <option value=0x0040>Change Threashold(decline)</option>
            <option value=0x0050>Change Threashold(both)</option>
            <option value=0x0100>Average Threashold(upper)</option>
            <option value=0x0200>Average Threashold(lower)</option>
            <option value=0x0300>Average Threashold(both)</option>
            <option value=0x0400>Peek to Peek Threashold(upper)</option>
            <option value=0x0800>Peek to Peek Threashold(lower)</option>
            <option value=0x0C00>Peek to Peek Threashold(both)</option>
            <option value=0x1000>Interval difference Threashold(rise)</option>
            <option value=0x2000>Interval difference Threashold(decline)</option>
            <option value=0x3000>Interval difference Threashold(both)</option>
            <option value=0x4000>Base difference Threashold(upper)</option>
            <option value=0x8000>Base difference Threashold(lower)</option>
            <option value=0xC000>Base difference Threashold(both)</option>
        </select>
    </div>
    <div class="form-row">
        <label for="node-input-event_upper">Event1 Threashold (Upper)</label>
        <input type="text" id="node-input-event_upper">
    </div>
    <div class="form-row">
        <label for="node-input-event_lower">Event1 Threashold (Lower)</label>
        <input type="text" id="node-input-event_lower">
    </div>
    <div class="form-row">
        <label for="node-input-event_count">Event1 Threashold (Count)</label>
        <input type="text" id="node-input-event_count">
    </div>

    <div class="form-row">
        <label for="node-input-event2_target">Event2 Target</label>
        <select id="node-input-event2_target">
            <option value=0>Temperature</option>
            <option value=1>Relative humidity</option>
            <option value=2>Ambient light</option>
            <option value=3>Barometric pressure</option>
            <option value=4>Sound noise</option>
            <option value=5>eTVOC</option>
            <option value=6>eCO2</option>
            <option value=7>Discomfort index</option>
            <option value=8>Heat stroke</option>
        </select>
    </div>
    <div class="form-row">
        <label for="node-input-event2_type">Event2 Type</label>
        <select id="node-input-event2_type">
            <option value=0x0001>Simple Threashold(upper limit)</option>
            <option value=0x0004>Simple Threashold(lower limit)</option>
            <option value=0x0005>Simple Threashold(both)</option>
            <option value=0x0010>Change Threashold(rise)</option>
            <option value=0x0040>Change Threashold(decline)</option>
            <option value=0x0050>Change Threashold(both)</option>
            <option value=0x0100>Average Threashold(upper)</option>
            <option value=0x0200>Average Threashold(lower)</option>
            <option value=0x0300>Average Threashold(both)</option>
            <option value=0x0400>Peek to Peek Threashold(upper)</option>
            <option value=0x0800>Peek to Peek Threashold(lower)</option>
            <option value=0x0C00>Peek to Peek Threashold(both)</option>
            <option value=0x1000>Interval difference Threashold(rise)</option>
            <option value=0x2000>Interval difference Threashold(decline)</option>
            <option value=0x3000>Interval difference Threashold(both)</option>
            <option value=0x4000>Base difference Threashold(upper)</option>
            <option value=0x8000>Base difference Threashold(lower)</option>
            <option value=0xC000>Base difference Threashold(both)</option>
        </select>
    </div>
    <div class="form-row">
        <label for="node-input-event2_upper">Event2 Threashold (Upper)</label>
        <input type="text" id="node-input-event2_upper">
    </div>
    <div class="form-row">
        <label for="node-input-event2_lower">Event2 Threashold (Lower)</label>
        <input type="text" id="node-input-event2_lower">
    </div>
    <div class="form-row">
        <label for="node-input-event2_count">Event2 Threashold (Count)</label>
        <input type="text" id="node-input-event2_count">
    </div>

    <div class="form-row">
        <label for="node-input-event3_target">Event3 Target</label>
        <select id="node-input-event3_target">
            <option value=0>Temperature</option>
            <option value=1>Relative humidity</option>
            <option value=2>Ambient light</option>
            <option value=3>Barometric pressure</option>
            <option value=4>Sound noise</option>
            <option value=5>eTVOC</option>
            <option value=6>eCO2</option>
            <option value=7>Discomfort index</option>
            <option value=8>Heat stroke</option>
        </select>
    </div>
    <div class="form-row">
        <label for="node-input-event3_type">Event3 Type</label>
        <select id="node-input-event3_type">
            <option value=0x0001>Simple Threashold(upper limit)</option>
            <option value=0x0004>Simple Threashold(lower limit)</option>
            <option value=0x0005>Simple Threashold(both)</option>
            <option value=0x0010>Change Threashold(rise)</option>
            <option value=0x0040>Change Threashold(decline)</option>
            <option value=0x0050>Change Threashold(both)</option>
            <option value=0x0100>Average Threashold(upper)</option>
            <option value=0x0200>Average Threashold(lower)</option>
            <option value=0x0300>Average Threashold(both)</option>
            <option value=0x0400>Peek to Peek Threashold(upper)</option>
            <option value=0x0800>Peek to Peek Threashold(lower)</option>
            <option value=0x0C00>Peek to Peek Threashold(both)</option>
            <option value=0x1000>Interval difference Threashold(rise)</option>
            <option value=0x2000>Interval difference Threashold(decline)</option>
            <option value=0x3000>Interval difference Threashold(both)</option>
            <option value=0x4000>Base difference Threashold(upper)</option>
            <option value=0x8000>Base difference Threashold(lower)</option>
            <option value=0xC000>Base difference Threashold(both)</option>
        </select>
    </div>
    <div class="form-row">
        <label for="node-input-event3_upper">Event3 Threashold (Upper)</label>
        <input type="text" id="node-input-event3_upper">
    </div>
    <div class="form-row">
        <label for="node-input-event3_lower">Event3 Threashold (Lower)</label>
        <input type="text" id="node-input-event3_lower">
    </div>
    <div class="form-row">
        <label for="node-input-event3_count">Event3 Threashold (Count)</label>
        <input type="text" id="node-input-event3_count">
    </div>

    <div class="form-row">
        <label for="node-input-led_event_rule"><i class="fa fa-lightbulb-o"></i>LED(Event)</label>
        <select id="node-input-led_event_rule">
            <option value=0x0001>Temperature event</option>
            <option value=0x0002>Relative humidity event</option>
            <option value=0x0004>Ambient light event</option>
            <option value=0x0008>Barometric pressure event</option>
            <option value=0x0010>Sound noise event</option>
            <option value=0x0020>eTVOC event</option>
            <option value=0x0040>SI value event</option>
            <option value=0x0080>PGA event</option>
        </select>
    </div>
    <div class="form-row">
        <label for="node-input-led_event_red"><i class="fa fa-lightbulb-o"></i>LED(Event) RED</label>
        <input type="text" id="node-input-led_event_red">
    </div>
    <div class="form-row">
        <label for="node-input-led_event_green"><i class="fa fa-lightbulb-o"></i>LED(Event) GREEN</label>
        <input type="text" id="node-input-led_event_green">
    </div>
    <div class="form-row">
        <label for="node-input-led_event_blue"><i class="fa fa-lightbulb-o"></i>LED(Event) BLUE</label>
        <input type="text" id="node-input-led_event_blue">
    </div>

    <div class="form-row">
        <label for="node-input-led_normal_rule"><i class="fa fa-lightbulb-o"></i>LED(Normal)</label>
        <select id="node-input-led_normal_rule">
            <option value=0x0000>Normally Off</option>
            <option value=0x0001>Normally ON</option>
            <option value=0x0002>Temperature value scales</option>
            <option value=0x0003>Relative humidity value scales</option>
            <option value=0x0004>Ambient light value scales</option>
            <option value=0x0005>Barometric pressure value scales</option>
            <option value=0x0006>Sound noise value scales</option>
            <option value=0x0007>eTVOC value scales</option>
            <option value=0x0008>SI value scales</option>
            <option value=0x0009>PGA value scales</option>
        </select>
    </div>

    
    <div class="form-row">
        <label for="node-input-led_normal_red"><i class="fa fa-lightbulb-o"></i>LED(Normal) RED</label>
        <input type="text" id="node-input-led_normal_red">
    </div>
    <div class="form-row">
        <label for="node-input-led_normal_green"><i class="fa fa-lightbulb-o"></i>LED(Normal) GREEN</label>
        <input type="text" id="node-input-led_normal_green">
    </div>
    <div class="form-row">
        <label for="node-input-led_normal_blue"><i class="fa fa-lightbulb-o"></i>LED(Normal) BLUE</label>
        <input type="text" id="node-input-led_normal_blue">
    </div>
    
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i>Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>

</script>