<script type="text/html" data-help-name="2jcie-bu">
    <p>This node communicates with the sensor via USB serial communication to obtain the OMRON 2JCIE-BU01 sensor values and event flags.</p>

    <h3>Input</h3>
    <dl class="message-properties" style="display: block;">
        <dt class="optional">msg object<span class="property-type">object</span></dt>
        <dd>Since this value is only used to trigger the action of the node, the content of the msg object doesn't effect outputs. No. The frequency of input is not less than one second.</dd>
    </dl>

    <h3>Output</h3>
    <ol class="node-ports">
        <li>Sensor data
            <dl class="message-properties">
                <dt>payload<span class="property-type">object</span></dt>
                <dd>Output a msg object containing sensor data. Temperature, relative humidity, ambient light, barometric pressure, noise, eTVOC, eCO2, Outputs the discomfort index and heat stroke.</dd>
                <pre>
e.g.)
{
    temperature: 27.43,
    relativeHumidity: 61.18,
    ambientLight: 948,
    barometricPressure: 1005.849,
    soundNoise: 47.09,
    etvoc: 50,
    eco2: 733,
    discomfortIndex: 76.38,
    heatStroke: 24.9
}
</pre>
            </dl>
        </li>
        <li>Event flags
            <dl class="message-properties">
                <dt>payload <span class="property-type">objectト</span></dt>
                <dd>Output a msg object containing event flags. Temperature events, relative humidity events, Ambient light events, barometric pressure events, noise events, eTVOC events, eCO2 events, nuisance index events, Outputs a heat stroke event.</dd>
                <pre>
e.g.)
{
    temperatureEvent: 1,
    relativeHumidityEvent: 0,
    ambientLightEvent: 4,
    barometricPressureEvent: 256,
    soundNoiseEvent: 0,
    etvocEvent: 0,
    eco2Event: 0,
    discomfortIndexEvent: 0,
    heatStrokeEvent: 0,
}
</pre>
            </dl>
        </li>
    </ol>

    <h3>Properties</h3>
    <dl class="message-properties" style="display: block;">
        <dt class="optional">Port <span class="property-type">string</span></dt>
        <dd>Set the device name of the serial port. (e.g., /dev/ttyUSB0 )</dd>

        <dt class="optional">Event1 Target <span class="property-type">string</span></dt>
        <dd>Select the sensor for the first event.</dd>

        <dt class="optional">Event1 Type <span class="property-type">string</span></dt>
        <dd>Select a event type for the first event.</dd>

        <dt class="optional">Event1 Threashold (Upper) <span class="property-type">number</span></dt>
        <dd>Set the threshold (upper limit) for the first event. The range depends on the Event Target and Event Type (OMRON Environmental Sensors ( See Chapter 5 of the JCIE-BU01 User's Manual). This is only available when Event Type is set to an upper or lower limit.</dd>

        <dt class="optional">Event1 Threashold (Lower) <span class="property-type">number</span></dt>
        <dd>Set the threshold (lower limit) for the first event. The range depends on the Event Target and Event Type (OMRON Environmental Sensors ( See Chapter 5 of the JCIE-BU01 User's Manual). This is only available when Event Type is set to a lower or upper limit.</dd>

        <dt class="optional">Event1 Count <span class="property-type">number</span></dt>
        <dd>Set the "count" of the first event. The range depends on the Event Target and Event Type (OMRON Environmental Sensor ( See Chapter 5 of the JCIE-BU01 User's Manual). This is only available when Event Type is set to a number of pieces.</dd>

        <dt class="optional">Event2 Target <span class="property-type">string</span></dt>
        <dd>Select the sensor for the second event.</dd>

        <dt class="optional">Event2 Type <span class="property-type">string</span></dt>
        <dd>Select a event type for the second event.</dd>

        <dt class="optional">Event2 Threashold (Upper) <span class="property-type">number</span></dt>
        <dd>Set the threshold (upper limit) for the second event. The range depends on the Event Target and Event Type (OMRON Environmental Sensors ( See Chapter 5 of the JCIE-BU01 User's Manual). This is only available when Event Type is set to an upper or lower limit.</dd>

        <dt class="optional">Event2 Threashold (Lower) <span class="property-type">number</span></dt>
        <dd>Set the threshold (lower limit) for the second event. The range depends on the Event Target and Event Type (OMRON Environmental Sensors ( See Chapter 5 of the JCIE-BU01 User's Manual). This is only available when Event Type is set to a lower or upper limit.</dd>

        <dt class="optional">Event2 Count <span class="property-type">number</span></dt>
        <dd>Set the "count" of the second event. The range depends on the Event Target and Event Type (OMRON Environmental Sensors ( See Chapter 5 of the JCIE-BU01 User's Manual). This is only available when Event Type is set to a number of pieces.</dd>        

        <dt class="optional">Event3 Target <span class="property-type">string</span></dt>
        <dd>Select the sensor for the third event.</dd>

        <dt class="optional">Event3 Type <span class="property-type">string</span></dt>
        <dd>Select a event type for the third event.</dd>

        <dt class="optional">Event3 Threashold (Upper) <span class="property-type">number</span></dt>
        <dd>Set the threshold (upper limit) for the third event. The range depends on the Event Target and Event Type (OMRON Environmental Sensors ( See Chapter 5 of the JCIE-BU01 User's Manual). This is only available when Event Type is set to an upper or lower limit.</dd>

        <dt class="optional">Event3 Threashold (Lower) <span class="property-type">number</span></dt>
        <dd>Set the threshold (lower limit) for the third event. The range depends on the Event Target and Event Type (OMRON Environmental Sensors ( See Chapter 5 of the JCIE-BU01 User's Manual). This is only available when Event Type is set to a lower or upper limit.</dd>

        <dt class="optional">Event3 Count <span class="property-type">number</span></dt>
        <dd>Set the "count" of the third event. The range depends on the Event Target and Event Type (OMRON Environmental Sensor ( See Chapter 5 of the JCIE-BU01 User's Manual). This is only available when Event Type is set to a number of pieces.</dd>

        <dt class="optional">LED(Event)<span class="property-type">string</span></dt>
        <dd>Select which event will turn on the LED when it is turned on.</dd>

        <dt class="optional">LED(Event) RED<span class="property-type">number</span></dt>
        <dd>Set the intensity of the red color of the LED that lights up when the event is turned on (0 to 255).</dd>

        <dt class="optional">LED(Event) GREEN<span class="property-type">number</span></dt>
        <dd>Set the intensity of the green color of the LED that lights up when the event is turned on (0 to 255).</dd>

        <dt class="optional">LED(Event) BLUE<span class="property-type">number</span></dt>
        <dd>Set the intensity of the blue color of the LED that lights up when the event is turned on (0 to 255).</dd>

        <dt class="optional">LED(Normal)<span class="property-type">string</span></dt>
        <dd>Select how the LED lights up in normal state.</dd>

        <dt class="optional">LED(Normal) RED<span class="property-type">number</span></dt>
        <dd>Set the intensity of the red color of the LED when it is turned on normally (0 to 255).</dd>

        <dt class="optional">LED(Normal) GREEN<span class="property-type">number</span></dt>
        <dd>Set the intensity of the green color of the LED when it is turned on normally (0 to 255).</dd>

        <dt class="optional">LED(Normal) BLUE<span class="property-type">number</span></dt>
        <dd>Set the intensity of the blue color of the LED when it is turned on normally (0 to 255).</dd>
    </dl>

    <h3>Detail</h3>
    <p>For sensor specifications, refer to the <a href ="https://www.fa.omron.co.jp/products/family/3724/download/manual.html">OMRON Environmental Sensor (USB type) 2JCIE-BU01 User's Manual</a>.</p>

    <h3>Known Issues</h3>
    <ol>
        <li>If the Event Target is Ambient light and the Event Type is Peek to Peek Threshold (Lower), the event settings will fail</li>
        <li>If the Event Target is set to Sound Noise and the Event Type is set to Change Threshold (decline), the event settings will fail</li>
    </ol>

</script>